@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    flex-direction: row;
}

.grid {
    display: grid;
}

.grid-cols-4 {
    grid-template-columns: 3fr 1fr 1fr 1fr;
    gap: 10px;
}

.items-center {
    justify-content: center;
}

.items-space-between {
    justify-content: space-between;
}

.border {
    border: 1px black solid;
}

.border-3-custom {
    border: 7px gray solid;
}

.vh-100 {
    min-height: 100vh;
}

.vw-50 {
    width: 20%;
}

.p-10 {
    padding: 2.5rem;
}

.p-5 {
    padding: 1.25rem;
}

.w-full {
    width: 100%;
}

.w-15 {
    width: 15%;
}

.w-30 {
    width: 30%;
}

.w-85 {
    width: 85%;
}

.h-10 {
    height: 2rem;
}

.my-10 {
    margin: 1rem 0;
}

.pointer {
    cursor: pointer;
}

.container .toggle {
    width: 50px;
    height: 28px;
    background: #444;
    border-radius: 30px;
    transition: 0.3s;

}

.container .toggle.active {
    background: cornflowerblue;
}

.container .toggle .toggle-button {
    position: relative;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.container .toggle.active .toggle-button {
    left: 27px
}